table {
  border-collapse: collapse;
  border: 1px solid black;
} 

th,td {
  border: 1px solid black;
}

table.a {
  table-layout: auto;
  width: 180px;  
}

table.b {
  table-layout: fixed;
  width: 180px;  
}

table.c {
  table-layout: auto;
  width: 100%;  
}

table.d {
  table-layout: fixed;
  width: 100%;  
}
.loginCont button {
  margin-top: 15px;
  height: 40px;
  width: 50%;
  background-color: #0080ff;
  border-radius: 5px;
  color: white;
  
}
.loginCont { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
} 
.Cont #loginInput {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}
.add button {
  margin-top: 15px;
  height: 40px;
  width: 50%;
  background-color: #0080ff;
  border-radius: 5px;
  color: white;
  
}

.loginCont button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}